// basic classes

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right



.full-width
  width 100%

.half-width
  width 50%

.third-width
  width 33%

.fourth-width
  width 25%

.fifth-width
  width 20%



.hidden
  display none !important

.oh
    overflow hidden !important



.no-padding
    padding 0 !important
.pr25
    padding-right 25px
.pr24
    padding-right 24px
.pl29
    padding-left 29px
.pl32
    padding-left 32px

.no-margin
    margin 0 !important
.no-h-margin
    margin-left 0 !important
    margin-right 0 !important
.no-v-margin
    margin-top 0 !important
    margin-bottom 0 !important

.mt7
    margin-top 7px !important
.mb15
    margin-bottom 15px !important
.mb17
    margin-bottom 17px !important
.mb18
    margin-bottom 18px !important
.mb25
    margin-bottom 25px !important
.mb30
    margin-bottom 30px !important

.mr20--to-md
    @media (max-width: 991px)
        margin-right 20px

.miw200--to-md
    @media (max-width: 991px)
        min-width 200px

.miw260--to-md
    @media (max-width: 991px)
        min-width 260px

.mawn--to-sm
    @media (max-width: 767px)
        max-width none !important
