.container--md
    padding 0

    @media (min-width: 992px)
        width 992px
        max-width 992px

    @media (max-width: 991px)
        width 100%
        max-width 100%

    // @media (max-width: 767px)
    //     width 480px
    //     max-width 480px


.col-fix-660
    width 660px
    max-width 660px

.col-fix-660--md
    @media (min-width: 992px)
        width 660px
        max-width 660px

.col-fix-351
    width 351px
    max-width 351px

.col-fix-351--md
    @media (min-width: 992px)
        width 351px
        max-width 351px

.col-fix-309
    width 309px
    max-width 309px

.col-fix-240
    width 240px
    max-width 240px

.col-fix-240--md
    @media (min-width: 992px)
        width 240px
        max-width 240px

.col-fix-145
    width 145px
    max-width 145px

.col-fix-145--md
    @media (min-width: 992px)
        width 145px
        max-width 145px



.col-fix-187--to-md
    @media (max-width: 991px)
        width 187px
        max-width 187px



.col-str-50--to-md
    @media (max-width: 991px)
        width 50%
        max-width 50%

.col-str-100--to-md
    @media (max-width: 991px)
        width 100%
        max-width 100%


.col-str-50--to-sm
    @media (max-width: 767px)
        width 50%
        max-width 50%

.col-str-75--to-sm
    @media (max-width: 767px)
        width 75%
        max-width 75%

.col-str-100--to-sm
    @media (max-width: 767px)
        width 100%
        max-width 100%


.col-fix-450--to-ssm
    @media (max-width: 689px)
        width 450px
        max-width 450px

.col-str-50--to-ssm
    @media (max-width: 689px)
        width 50%
        max-width 50%

.col-str-75--to-ssm
    @media (max-width: 689px)
        width 75%
        max-width 75%

.col-str-100--to-ssm
    @media (max-width: 689px)
        width 100%
        max-width 100%



.col-str-50--to-xss
    @media (max-width: 509px)
        width 50%
        max-width 50%

.col-str-75--to-xss
    @media (max-width: 509px)
        width 75%
        max-width 75%

.col-str-100--to-xss
    @media (max-width: 509px)
        width 100%
        max-width 100%



.col-str-50--to-xs
    @media (max-width: 379px)
        width 50%
        max-width 50%

.col-str-75--to-xs
    @media (max-width: 379px)
        width 75%
        max-width 75%

.col-str-100--to-xs
    @media (max-width: 379px)
        width 100%
        max-width 100%



.col-str-50--to-xxs
    @media (max-width: 319px)
        width 50%
        max-width 50%

.col-str-75--to-xxs
    @media (max-width: 319px)
        width 75%
        max-width 75%

.col-str-100--to-xxs
    @media (max-width: 319px)
        width 100%
        max-width 100%
