// standard container padding
p--sm = 46px
p--to-sm = 15px

// border-radius value
bdrs-rndd = 3px
bdrs-crcl = 50%

// colors
c_white = #fff
c_white-transparent-05 = rgba(255, 255, 255, 0.5)
c_white-transparent-03 = rgba(255, 255, 255, 0.3)
c_white-darken = darken(c_white, 20%)
c_black = #000

c_medium-font = #b7b6b6
c_darken-font = #a8a8a8
c_darkest-font = #06070e


c_basic-bg = #fcf7ff
c_muted-bg = #7F7D88
c_darken-bg = #696773
c_darker-bg = #454546
c_darker-2-bg = #363441
c_darkest-bg = #29292B

c_dark-transparent-bg = rgba(0, 0, 0, 0.9)

c_contrast = #ef0f54
c_contrast-darken = darken(c_contrast, 20%)
c_contrast-transparent-08 = rgba(c_contrast, 0.9)
c_seo = #79ddec
c_seo-darken = #66bbc8
c_promo-dull = #a39ebe
c_promo-dark = #2f2d38


// border colors
c_light-border = #e1e1e3
c_medium-border = #b7b6b6
