@import 'variables';

fontLabels()
    font-family 'helveticaneuecyrlight'
    font-weight normal
    font-size 14px
    line-height 18px
    color light

fontInputs()
    font-family 'helveticaneuecyrroman'
    font-weight bold
    font-size 13px
    line-height 30px
    color dark

fontDatepickers()
    font-family 'helveticaneuecyrroman'
    font-weight bold
    font-size 14px
    line-height 30px
    color dark

fontWrappedLabels()
    font-family 'helveticaneuecyrroman'
    font-weight bold
    font-size 13px
    line-height 20px
    color dark

fontButtonV3()
    font-family 'helveticaneuecyrbold'
    font-size 12px
    line-height 20px
    color lighter
    background-color bright
    text-transform uppercase

fontButtonV4()
    font-family 'helveticaneuecyrbold'
    font-size 13px
    line-height 13px
    color lighter
    background-color lightalternate
    text-transform uppercase

fontResultBasic()
    font-family 'helveticaneuecyrroman'
    font-weight bold
    font-size 13px
    line-height 18px

fontResultsHeader()
    fontResultBasic()
    color darker

fontTh()
    fontResultBasic()
    font-weight normal
    color lightest
    background-color darkbright

fontThDarker()
    fontResultBasic()
    font-weight normal
    color lightest
    background-color darkerbright

fontResultTableBasic()
    fontResultBasic()
    color medium

fontResultTime()
    font-family 'helveticaneuecyrlight'
    font-weight bold
    font-size 11px
    line-height 18px
    color secondary

fontLinkDarkUnderlined()
    fontResultBasic()
    text-decoration underline
    color medium

    &:hover
        text-decoration none
        color medium

fontLinkBrightUnderlined()
    fontResultBasic()
    text-decoration underline
    color lightbright

    &:hover
        text-decoration none
        color lightbright

fontSmall()
    font-family 'helveticaneuecyrroman'
    font-weight bold
    font-size 11px
    line-height 18px
    color medium

fontBadgeBright()
    font-family 'helveticaneuecyrbold'
    font-size 12px
    line-height 16px
    color lightest
    background-color bright

fontBadgeAlternate()
    font-family 'helveticaneuecyrbold'
    font-size 12px
    line-height 16px
    color lightest
    background-color alternate

fontMarkerBright()
    font-family 'helveticaneuecyrbold'
    font-size 16px
    line-height 22px
    color lighter
    background-color bright

fontLineThrough()
    font-family 'helveticaneuecyrlight'
    font-size 13px
    line-height 18px
    color dull
