// standard container padding
p--sm = 46px
p--to-sm = 15px

// border-radius value
bdrs-rndd = 3px
bdrs-crcl = 50%

// colors
lightest = #ffffff
lighter = #fcfcfc
secondary = #9d9d9d
light = #5a5a5a
dull = #454545
medium = #343434
dark = #292929
darker = #252425
darkest = #000000
lightbright = #b92d86
bright = #d7298a
darkbright = #a33593
darkerbright = #802574
alternate = #56429e
lightalternate = #94b3ea
darkalternate = darken(lightalternate, 25%)

selected = #efe4c5

// border colors
dim = #b9b9b9
lighterdim = #efefef
