extends ../layouts/base/base-1/base-1

block head
    - var pageName = 'page-1';
    - var pageTitle = 'Page-1 page template';

block append content
    | Hello world from page-1

block footer
    | This is a page-1 footer!
